annotated-types==0.7.0
anyio==4.12.0
asgiref==3.11.0
beautifulsoup4==4.14.3
certifi==2025.11.12
charset-normalizer==3.4.4
distro==1.9.0
Django==6.0
gTTS==2.5.4
httpcore==1.0.9
httpx==0.28.1
idna==3.11
jiter==0.12.0
openai==2.9.0
pydantic==2.12.5
pydantic_core==2.41.5
pyobjc==12.1
python-dotenv==1.2.1
pyttsx3==2.99
requests==2.32.5
soupsieve==2.8
sqlparse==0.5.4
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.0
typing-inspection==0.4.2
